{
  "openapi": "3.1.0",
  "info": {
    "title": "Oxy REST API",
    "version": "1.0.0",
    "description": "The Oxy REST API powers every official Oxy app (web, iOS, Android) and is open to third-party integrations via Applications registered in the Oxy Console. It covers authentication, device sessions, accounts, files, billing, notifications, email, federation (ActivityPub), and developer tooling."
  },
  "servers": [
    {
      "url": "https://api.oxy.so",
      "description": "Production"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "User session JWT obtained from /auth/login, /auth/signup, or /auth/verify. Send as `Authorization: Bearer <token>`."
      },
      "serviceTokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Service-to-service JWT obtained from /auth/service-token by exchanging a `service`-type ApplicationCredential (publicKey + secret). For delegated calls also include `X-Oxy-User-Id: <userId>`."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Long-lived application API key (for third-party integrations that do not require a delegated user session)."
      },
      "csrfToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CSRF-Token",
        "description": "Required for state-changing requests against CSRF-protected routes. Obtain a token from any GET response (set via the `XSRF-TOKEN` cookie) and echo it on subsequent POST/PUT/PATCH/DELETE calls. Only enforced when cookies are present."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code (SCREAMING_SNAKE_CASE).",
            "example": "VALIDATION_FAILED"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message.",
            "example": "Validation failed"
          },
          "details": {
            "type": "object",
            "description": "Additional error details (optional).",
            "additionalProperties": true
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of records matching the query.",
            "example": 142
          },
          "limit": {
            "type": "integer",
            "description": "Page size used for this response.",
            "example": 20
          },
          "offset": {
            "type": "integer",
            "description": "Zero-based offset applied to this page.",
            "example": 0
          },
          "hasMore": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "User": {
        "type": "object",
        "description": "A public-facing user profile.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable Oxy user ID (MongoDB ObjectId).",
            "example": "64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "username": {
            "type": "string",
            "example": "alice"
          },
          "name": {
            "type": "object",
            "properties": {
              "first": {
                "type": "string",
                "example": "Alice"
              },
              "last": {
                "type": "string",
                "example": "Example"
              }
            }
          },
          "avatar": {
            "type": "string",
            "description": "Avatar asset URL or asset ID.",
            "example": "https://api.oxy.so/assets/64f7.../stream"
          },
          "description": {
            "type": "string",
            "example": "Coffee, code, and open source."
          },
          "type": {
            "type": "string",
            "enum": [
              "local",
              "federated",
              "agent",
              "automated"
            ],
            "description": "Account type. Local users are first-party Oxy accounts; federated users come from ActivityPub instances; agents / automated accounts are programmatic."
          },
          "publicKey": {
            "type": "string",
            "description": "secp256k1 public key in hex."
          },
          "_count": {
            "type": "object",
            "properties": {
              "followers": {
                "type": "integer",
                "example": 42
              },
              "following": {
                "type": "integer",
                "example": 17
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Session": {
        "type": "object",
        "description": "A device-bound user session.",
        "properties": {
          "id": {
            "type": "string",
            "example": "sess_64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "deviceName": {
            "type": "string",
            "example": "iPhone 15 Pro"
          },
          "deviceFingerprint": {
            "type": "string"
          },
          "ip": {
            "type": "string",
            "example": "198.51.100.42"
          },
          "userAgent": {
            "type": "string",
            "example": "OxyApp/1.0 (iOS 18.0)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastActiveAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "isCurrent": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Device": {
        "type": "object",
        "description": "A device that has at least one active session.",
        "properties": {
          "id": {
            "type": "string",
            "example": "dev_64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "name": {
            "type": "string",
            "example": "MacBook Pro 16"
          },
          "platform": {
            "type": "string",
            "example": "macOS"
          },
          "firstSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "sessionCount": {
            "type": "integer",
            "example": 2
          }
        }
      },
      "AuthSuccess": {
        "type": "object",
        "description": "Successful authentication response from /auth/signup, /auth/login, or /auth/verify.",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "sessionId": {
            "type": "string",
            "example": "sess_64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "accessToken": {
            "type": "string",
            "description": "Short-lived JWT for API calls. Typically valid 15 minutes."
          },
          "refreshToken": {
            "type": "string",
            "description": "Long-lived refresh token. Submit to /auth/refresh for a new access token."
          },
          "expiresIn": {
            "type": "integer",
            "description": "Lifetime of `accessToken` in seconds.",
            "example": 900
          }
        }
      }
    }
  },
  "paths": {
    "/session/user/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Resolve a session ID to the user it belongs to",
        "description": "Look up the user record for a given session ID. Requires a valid access token whose user owns the referenced session — callers cannot look up sessions belonging to other users. Used by SDK clients (e.g. `@oxyhq/core`) to hydrate user state from a stored session reference. Expired, revoked, or non-owned sessions return 404.\n",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "sess_64f7c2a1b8e9d3f4a1c2b3d4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User attached to this session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Malformed sessionId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Session not found or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/session/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List all sessions for the user of the given session",
        "description": "Return every active session the user has across all devices, with a flag marking the current session. Requires a valid access token whose user owns the referenced session.\n",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active sessions for the user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found or expired."
          }
        }
      }
    },
    "/session/logout/{sessionId}": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Sign out the given session",
        "description": "Revoke the session identified by `sessionId`. After this call any bearer token tied to that session is rejected. Idempotent — calling twice is a no-op on the second call.\n",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session revoked."
          },
          "404": {
            "description": "Session not found."
          }
        }
      }
    },
    "/session/logout/{sessionId}/{targetSessionId}": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Sign another session out via an authenticated session",
        "description": "Use `sessionId` (which must be a valid active session) to revoke a different session identified by `targetSessionId`. This is how the \"sign out other devices\" flow works.\n",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Target session revoked."
          },
          "401": {
            "description": "The acting session is not valid."
          },
          "404": {
            "description": "Target session not found."
          }
        }
      }
    },
    "/session/logout-all/{sessionId}": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Sign out every session for this user",
        "description": "Revoke every session belonging to the user behind `sessionId`, including the calling session itself. Recommended after a password reset or suspected compromise.\n",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All sessions revoked."
          },
          "404": {
            "description": "Session not found."
          }
        }
      }
    },
    "/session/validate/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "security": [],
        "summary": "Validate a session ID",
        "description": "Cheap liveness check — returns 200 with a small payload if the session is still active, 404 otherwise. Use this in lieu of the heavier `/session/user/:id` lookup when you only need a yes/no.\n",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session is active.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "example": true
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found or expired."
          }
        }
      }
    },
    "/session/validate-header/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Validate a session using a header-bound bearer token",
        "description": "Like `/session/validate/:sessionId` but cross-checks the bearer token against the session — returns 200 only if the token still belongs to the session.\n",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session and bearer token match."
          },
          "401": {
            "description": "Token does not match the session."
          },
          "404": {
            "description": "Session not found."
          }
        }
      }
    },
    "/session/device/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List sessions on the same device as the given session",
        "description": "Return every active session that shares the device fingerprint of the supplied session. Used to power \"this device has these accounts\" UI in the auth picker.\n",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions on this device.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found."
          }
        }
      }
    },
    "/session/device/logout-all/{sessionId}": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sign out every session on this device",
        "description": "Revoke every session that shares the device fingerprint of the supplied session. Useful for a one-click \"sign out this device\" button.\n",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device sessions revoked."
          },
          "404": {
            "description": "Session not found."
          }
        }
      }
    },
    "/session/device/name/{sessionId}": {
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Rename the device for the given session",
        "description": "Update the human-readable device label shown in the user's devices list. The change applies to every session sharing the device fingerprint.\n",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "deviceName"
                ],
                "properties": {
                  "deviceName": {
                    "type": "string",
                    "example": "Living room iPad"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device renamed."
          },
          "400": {
            "description": "Validation failed."
          },
          "404": {
            "description": "Session not found."
          }
        }
      }
    },
    "/session/users/batch": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Resolve multiple session IDs in one call",
        "description": "Batch counterpart of `/session/user/:sessionId`. Pass an array of session IDs and get back a map of user records — used by clients that need to render multiple connected accounts at once (e.g. the account switcher).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionIds"
                ],
                "properties": {
                  "sessionIds": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "pair": {
                  "value": {
                    "sessionIds": [
                      "sess_64f7c2a1b8e9d3f4a1c2b3d4",
                      "sess_74f7c2a1b8e9d3f4a1c2b3d5"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User records keyed by session ID. Missing sessions are omitted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed."
          }
        }
      }
    },
    "/users/me/app-data/{namespace}/{key}": {
      "get": {
        "tags": [
          "UserAppData"
        ],
        "summary": "Read a single per-user JSON value",
        "description": "Returns the value stored under `(namespace, key)` for the authenticated user. The response body is always `{ value }`. If no value has ever been stored, `value` is `null` (the endpoint does not 404 on missing entries — a missing entry is semantically a `null` value).\n",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current value (or null when not stored).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "description": "Arbitrary JSON value previously stored, or null."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      },
      "put": {
        "tags": [
          "UserAppData"
        ],
        "summary": "Upsert a single per-user JSON value",
        "description": "Stores (or replaces) the value under `(namespace, key)` for the authenticated user. Body must be `{ value: <any JSON-serializable value> }`. Serialized JSON is capped at 64 KB.\n",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "description": "Arbitrary JSON value to persist."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The stored value, echoed back.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "description": "The value that is now stored."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed (bad namespace/key, oversized value)."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "429": {
            "description": "Per-user write rate limit exceeded."
          }
        }
      },
      "delete": {
        "tags": [
          "UserAppData"
        ],
        "summary": "Delete a single per-user JSON value",
        "description": "Removes the value under `(namespace, key)` for the authenticated user. Idempotent — succeeds with 204 whether or not the entry existed.\n",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          },
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted (or was already absent)."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "429": {
            "description": "Per-user write rate limit exceeded."
          }
        }
      }
    },
    "/users/me/app-data/{namespace}": {
      "get": {
        "tags": [
          "UserAppData"
        ],
        "summary": "List every value in a namespace for the current user",
        "description": "Returns `{ entries }` where `entries` is a `key -> value` map of everything stored under `namespace` for the authenticated user. The response is bounded by the 128-key namespace quota and by the 64 KB cap per individual value. If an older namespace exceeds the current quota, the endpoint refuses to materialize it in one response.\n",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]{1,64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map of every key in the namespace to its value.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "object",
                      "additionalProperties": {
                        "description": "Stored JSON value."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Register a new user",
        "description": "Create a new local Oxy account from an email + username + password triple. On success returns the user record plus an `accessToken`, `refreshToken`, and a `sessionId` for the newly created session. Username is normalised to lowercase and must match the `^[a-zA-Z0-9]{3,30}$` shape.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "username",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "alice@placeholder.example"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{3,30}$",
                    "example": "alice"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "example": "correct horse battery staple"
                  },
                  "name": {
                    "type": "object",
                    "description": "Optional human-readable name for the account.",
                    "properties": {
                      "first": {
                        "type": "string",
                        "example": "Alice"
                      },
                      "last": {
                        "type": "string",
                        "example": "Example"
                      }
                    }
                  },
                  "deviceName": {
                    "type": "string",
                    "description": "Friendly device label. Shown to the user in the devices list.",
                    "example": "MacBook Pro 16"
                  },
                  "deviceFingerprint": {
                    "type": "string",
                    "description": "Stable per-device identifier used for de-duplicating sessions.",
                    "example": "dev-fp-abcdef0123456789"
                  }
                }
              },
              "examples": {
                "standard": {
                  "summary": "Email + username + password",
                  "value": {
                    "email": "alice@placeholder.example",
                    "username": "alice",
                    "password": "correct horse battery staple",
                    "deviceName": "MacBook Pro 16"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created and the first session issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "user": {
                        "id": "64f7c2a1b8e9d3f4a1c2b3d4",
                        "username": "alice",
                        "name": {
                          "first": "Alice",
                          "last": "Example"
                        }
                      },
                      "sessionId": "sess_64f7c2a1b8e9d3f4a1c2b3d4",
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example",
                      "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example",
                      "expiresIn": 900
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed (missing fields, invalid format).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Email or username already taken.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many signups from this IP. Try again later."
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Log in with email or username and password",
        "description": "Exchange a password for a session. Accepts either `identifier` (email-or-username), or one of the dedicated `email` / `username` fields plus `password`. If the account has TOTP-based 2FA enabled the response will return a `loginToken` to be completed via `POST /security/2fa/verify-login` instead of the regular tokens.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Email or username. Preferred over the separate fields.",
                    "example": "alice"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "alice@placeholder.example"
                  },
                  "username": {
                    "type": "string",
                    "example": "alice"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "correct horse battery staple"
                  },
                  "deviceName": {
                    "type": "string",
                    "example": "iPhone 15 Pro"
                  },
                  "deviceFingerprint": {
                    "type": "string",
                    "example": "dev-fp-abcdef0123456789"
                  }
                }
              },
              "examples": {
                "with-identifier": {
                  "summary": "Pass identifier (email-or-username)",
                  "value": {
                    "identifier": "alice",
                    "password": "correct horse battery staple",
                    "deviceName": "iPhone 15 Pro"
                  }
                },
                "with-email": {
                  "summary": "Pass email explicitly",
                  "value": {
                    "email": "alice@placeholder.example",
                    "password": "correct horse battery staple"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login succeeded. Returns either an `AuthSuccess` payload (no 2FA) or `{ twoFactorRequired: true, loginToken }` for accounts with 2FA enabled.\n",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AuthSuccess"
                    },
                    {
                      "type": "object",
                      "required": [
                        "twoFactorRequired",
                        "loginToken"
                      ],
                      "properties": {
                        "twoFactorRequired": {
                          "type": "boolean",
                          "example": true
                        },
                        "loginToken": {
                          "type": "string",
                          "description": "Short-lived token to submit to /security/2fa/verify-login."
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "No 2FA — session issued immediately",
                    "value": {
                      "user": {
                        "id": "64f7c2a1b8e9d3f4a1c2b3d4",
                        "username": "alice"
                      },
                      "sessionId": "sess_64f7c2a1b8e9d3f4a1c2b3d4",
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example",
                      "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example",
                      "expiresIn": 900
                    }
                  },
                  "twoFactor": {
                    "summary": "2FA challenge required",
                    "value": {
                      "twoFactorRequired": true,
                      "loginToken": "lt_2fa_abc123def456"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many failed login attempts. Try again later."
          }
        }
      }
    },
    "/auth/recover/request": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request password recovery",
        "description": "Send a password recovery code to the user's email.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Email or username",
                    "example": "user@example.com"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "username": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recovery code sent (returns success even if account not found to prevent enumeration)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing identifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/recover/verify": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify recovery code",
        "description": "Verify the recovery code sent via email and receive a reset token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Email or username",
                    "example": "user@example.com"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "username": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "description": "Recovery code received via email",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code verified, reset token returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recoveryToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/recover/reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Reset password",
        "description": "Reset the user's password using a valid recovery token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recoveryToken",
                  "password"
                ],
                "properties": {
                  "recoveryToken": {
                    "type": "string",
                    "description": "Token received from /auth/recover/verify"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "description": "New password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired recovery token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Register a new account with a public key",
        "description": "Create a passwordless account bound to a local secp256k1 identity. The client generates a key pair (see `KeyManager` in `@oxyhq/core`), signs `register:{publicKey}:{timestamp}`, and submits the signature. Username and email are optional but recommended for discoverability.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "publicKey",
                  "signature",
                  "timestamp"
                ],
                "properties": {
                  "publicKey": {
                    "type": "string",
                    "description": "secp256k1 public key (hex)."
                  },
                  "signature": {
                    "type": "string",
                    "description": "Hex signature over `register:{publicKey}:{timestamp}`."
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Unix ms when the signature was produced (max 5 minutes old)."
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{3,30}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created and the first session issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature, malformed key, or duplicate username/email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/challenge": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Request a sign-in challenge for a public key",
        "description": "Step 1 of the passwordless public-key login. Returns a short-lived random challenge that the client must sign with the matching private key, then submit to `POST /auth/verify`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "publicKey"
                ],
                "properties": {
                  "publicKey": {
                    "type": "string",
                    "description": "secp256k1 public key (hex)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge issued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge": {
                      "type": "string",
                      "description": "Opaque challenge string to sign."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No account registered for this public key."
          },
          "429": {
            "description": "Rate limit exceeded (10 / minute / IP)."
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Verify a signed challenge and create a session",
        "description": "Step 2 of the passwordless public-key login. Submit the challenge returned by `/auth/challenge` together with its signature; on success a new session is created and the standard `AuthSuccess` payload is returned.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "publicKey",
                  "challenge",
                  "signature",
                  "timestamp"
                ],
                "properties": {
                  "publicKey": {
                    "type": "string"
                  },
                  "challenge": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Hex signature of the challenge."
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Unix ms."
                  },
                  "deviceName": {
                    "type": "string"
                  },
                  "deviceFingerprint": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Signature invalid or challenge expired."
          },
          "429": {
            "description": "Rate limit exceeded (5 / minute / IP)."
          }
        }
      }
    },
    "/auth/validate": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validate authentication status",
        "description": "Check whether the current request carries valid authentication.",
        "responses": {
          "200": {
            "description": "Authentication is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Revoke the presented rotating refresh family",
        "description": "Signs the caller out by revoking the rotating refresh-token family behind the `refreshToken` presented in the body (the persisted-refresh lane used by web localStorage / native storage). Revocation deactivates the underlying session and burns the whole family so a stored token can no longer mint access tokens. Idempotent + best-effort: a missing or unknown token still returns 200. No `Authorization` header is required — the refresh token itself is the credential being revoked.\n",
        "responses": {
          "200": {
            "description": "Logged out (idempotent).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests from this IP."
          }
        }
      }
    },
    "/auth/check-username/{username}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check username availability",
        "description": "Check whether a username is available for registration.",
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 30
            },
            "example": "johndoe"
          }
        ],
        "responses": {
          "200": {
            "description": "Availability check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid username format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/auth/lookup/{username}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Lookup user by username",
        "description": "Lightweight lookup that returns minimal public info for the login flow. Returns whether the user exists along with their color preset, avatar, and display name.",
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3
            },
            "example": "nate"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup result"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/auth/check-email/{email}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check email availability",
        "description": "Check whether an email address is available for registration.",
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "user@example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Availability check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid email format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/auth/session/create": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Open a cross-app auth session (OAuth-like flow)",
        "description": "Begin a cross-app sign-in handshake. A third-party / first-party client generates a one-time `sessionToken` and opens this endpoint; the user is then directed to Oxy Accounts where they authorise the session via `POST /auth/session/authorize/{sessionToken}`. The client polls `GET /auth/session/status/{sessionToken}` until the session is authorised, cancelled, or expires (default 5 minutes).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string",
                    "description": "Random opaque token the client generates and keeps secret.",
                    "example": "at_random_4e9c2a1b8e9d3f4a1c2b3d4"
                  },
                  "clientId": {
                    "type": "string",
                    "description": "OAuth client_id (ApplicationCredential public key) of the requesting application. Provide this OR `applicationId`.\n",
                    "example": "oxy_dk_1a2b3c4d"
                  },
                  "applicationId": {
                    "type": "string",
                    "description": "Application _id of the requesting application. Provide this OR `clientId`.\n",
                    "example": "64f7c2a1b8e9d3f4a1c2b3d4"
                  },
                  "expiresAt": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "integer",
                        "description": "Unix ms."
                      }
                    ],
                    "description": "Optional explicit expiry (capped at 5 minutes)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth session pending.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionToken": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "authorized",
                        "cancelled",
                        "expired"
                      ],
                      "example": "pending"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing/invalid application reference or token already in use."
          },
          "403": {
            "description": "Application is not available (suspended/deleted/pending review)."
          }
        }
      }
    },
    "/auth/session/status/{sessionToken}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Poll the status of a cross-app auth session",
        "description": "Polled by the client that opened a session via `POST /auth/session/create`. Returns the session's current `status` and, once authorised, the `sessionId` / `userId` that the client should now treat as its own session.\n",
        "parameters": [
          {
            "name": "sessionToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of the auth session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "authorized",
                        "cancelled",
                        "expired"
                      ]
                    },
                    "authorized": {
                      "type": "boolean"
                    },
                    "sessionToken": {
                      "type": "string"
                    },
                    "application": {
                      "nullable": true,
                      "description": "Sanitized public metadata of the registered Application bound to this session, for the consent UI. Null only if the app was hard-deleted after the session was created.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "icon": {
                          "type": "string"
                        },
                        "websiteUrl": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "first_party",
                            "third_party",
                            "internal",
                            "system"
                          ]
                        },
                        "isOfficial": {
                          "type": "boolean"
                        },
                        "isInternal": {
                          "type": "boolean"
                        },
                        "scopes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "developerName": {
                          "type": "string",
                          "description": "Best-effort owner display name (non-official apps only)."
                        }
                      }
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sessionId": {
                      "type": "string",
                      "nullable": true
                    },
                    "publicKey": {
                      "type": "string",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "pending": {
                    "value": {
                      "status": "pending",
                      "authorized": false,
                      "sessionToken": "at_random_4e9c2a1b8e9d3f4a1c2b3d4",
                      "application": {
                        "id": "64f7c2a1b8e9d3f4a1c2b3d4",
                        "name": "Oxy Accounts",
                        "type": "first_party",
                        "isOfficial": true,
                        "isInternal": false,
                        "scopes": [
                          "user:read"
                        ]
                      },
                      "expiresAt": "2025-05-25T12:39:56.000Z",
                      "sessionId": null,
                      "publicKey": null,
                      "userId": null
                    }
                  },
                  "authorized": {
                    "value": {
                      "status": "authorized",
                      "authorized": true,
                      "sessionToken": "at_random_4e9c2a1b8e9d3f4a1c2b3d4",
                      "application": {
                        "id": "64f7c2a1b8e9d3f4a1c2b3d4",
                        "name": "Acme Widgets",
                        "type": "third_party",
                        "isOfficial": false,
                        "isInternal": false,
                        "scopes": [
                          "files:read",
                          "user:read"
                        ],
                        "websiteUrl": "https://acme.example",
                        "developerName": "Ada Lovelace"
                      },
                      "expiresAt": "2025-05-25T12:39:56.000Z",
                      "sessionId": "sess_64f7c2a1b8e9d3f4a1c2b3d4",
                      "publicKey": "02a1b2c3d4e5f6...",
                      "userId": "64f7c2a1b8e9d3f4a1c2b3d4"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Auth session not found."
          }
        }
      }
    },
    "/auth/session/authorize/{sessionToken}": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authorise a pending cross-app auth session",
        "description": "Called by the Oxy Accounts app (or any first-party UI) after the user accepts a cross-app sign-in prompt. Requires the authorising user's access token via the `Authorization: Bearer` header — the authenticated principal is the only valid source of \"who is authorising\". The previous `x-session-id`-based path has been removed (fixes C2).\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sessionToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceName": {
                    "type": "string"
                  },
                  "deviceFingerprint": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session authorised.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "sessionId": {
                      "type": "string"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Session expired, or malformed body."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "404": {
            "description": "Auth session not found or already processed."
          }
        }
      }
    },
    "/auth/session/claim": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Exchange a sessionToken for the first access token (device flow)",
        "description": "Final step of the QR-code / \"Open Oxy Auth\" device sign-in flow. After another authenticated device has approved this session via `POST /auth/session/authorize/{sessionToken}`, the originating client — which alone knows the secret `sessionToken` — calls this endpoint to atomically claim the resulting access token, refresh token, and session ID.\nNo `Authorization` header is required: the 128-bit `sessionToken` (held only by the originating client, never echoed back to observers) IS the credential, exactly as in RFC 8628 §3.4. The exchange is single-use: a successful claim transitions the AuthSession status from `authorized` -> `consumed`, so a replayed sessionToken is rejected. Time-bound by the AuthSession TTL (default 5 minutes). Status-bound: only `authorized` rows are claimable.\nThis endpoint is the only device-flow token handoff: the originating client starts with no bearer token, so it must claim exactly once with the secret sessionToken it created.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string",
                    "description": "The same 128-bit sessionToken issued by `POST /auth/session/create`."
                  },
                  "deviceFingerprint": {
                    "type": "string",
                    "description": "Optional fingerprint of the originating client device."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "First access token issued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    },
                    "sessionId": {
                      "type": "string"
                    },
                    "deviceId": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed."
          },
          "401": {
            "description": "SessionToken is unknown, expired, cancelled, not yet authorized, or already consumed."
          }
        }
      }
    },
    "/auth/oauth/authorize": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Issue an OAuth2 authorization code (after user consent)",
        "description": "Called by the Oxy auth UI after the user clicks \"Allow\" on a third-party app's consent screen. Requires the authenticated user's Bearer access token. Returns a short-lived single-use code that the client app exchanges for tokens via `POST /auth/oauth/token`.\nThe `redirectUri` MUST exactly match one of the Application's registered `redirectUris` — otherwise the request is rejected.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientId",
                  "redirectUri"
                ],
                "properties": {
                  "clientId": {
                    "type": "string",
                    "description": "ApplicationCredential publicKey (OAuth client_id)"
                  },
                  "redirectUri": {
                    "type": "string",
                    "format": "uri"
                  },
                  "state": {
                    "type": "string",
                    "description": "Opaque CSRF token forwarded back to the client."
                  },
                  "codeChallenge": {
                    "type": "string",
                    "description": "PKCE code challenge (S256). Required for public clients."
                  },
                  "codeChallengeMethod": {
                    "type": "string",
                    "enum": [
                      "S256"
                    ]
                  },
                  "scope": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization code issued."
          },
          "400": {
            "description": "Validation failed."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "403": {
            "description": "Redirect URI is not registered for this client."
          }
        }
      }
    },
    "/auth/oauth/consent": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Server-authoritative decision on whether OAuth consent is needed",
        "description": "Called by the auth UI before rendering the consent screen. Resolves the `clientId` to an Application (validating the `redirectUri` exactly like `POST /auth/oauth/authorize`) and decides whether the user must consent:\n- TRUSTED apps (first-party / internal / system / official) are\n  auto-approved → `consentRequired: false, reason: 'trusted'`.\n- A prior grant whose scopes cover the requested `scope` →\n  `consentRequired: false, reason: 'granted'`.\n- A prior grant missing some requested scope →\n  `consentRequired: true, reason: 'scope_changed'`.\n- No prior grant → `consentRequired: true, reason: 'new'`.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "clientId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "redirectUri",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "in": "query",
            "name": "scope",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Consent decision."
          },
          "400": {
            "description": "Invalid client."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "403": {
            "description": "Redirect URI is not registered for this client."
          }
        }
      }
    },
    "/auth/grants": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List the third-party apps the user has authorized (Connected apps)",
        "description": "Returns the user's revocable OAuth grants joined with the application's name + logo + granted scopes + timestamps. Trusted (auto-approved) apps are never recorded as grants, so they never appear here.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The user's connected applications."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/auth/grants/{applicationId}": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke a connected app's OAuth grant",
        "description": "Deletes the user's AppGrant for the application so the next OAuth authorize for this app prompts for consent again.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Grant revoked (idempotent)."
          },
          "400": {
            "description": "Invalid applicationId."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/auth/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Exchange an OAuth2 authorization code for tokens",
        "description": "Single-use exchange of an authorization code (from `POST /auth/oauth/authorize`) for a bearer access token, refresh token, and session ID. Either `clientSecret` (confidential clients) or `codeVerifier` (public clients with PKCE) is required.\nReplaying an already-used code, sending a code past its 60-second TTL, or mismatching the `redirectUri` returns 401 with no detail about why.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "clientId",
                  "redirectUri"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "clientId": {
                    "type": "string"
                  },
                  "redirectUri": {
                    "type": "string",
                    "format": "uri"
                  },
                  "clientSecret": {
                    "type": "string"
                  },
                  "codeVerifier": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued."
          },
          "400": {
            "description": "Malformed request."
          },
          "401": {
            "description": "Invalid, expired, replayed, or mis-bound code."
          }
        }
      }
    },
    "/auth/oauth/client/{clientId}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Public lookup of an application's consent-UI metadata",
        "description": "Resolves an OAuth `client_id` (= ApplicationCredential public key) to the sanitized public metadata of its registered Application so the auth web consent screen can render the app's name, icon, official badge, and requested scopes. No bearer token is required. Secrets, webhook config, owner identity, and capabilities are never returned. Returns a generic 404 for unknown, revoked, expired, or inactive clients (no enumeration).\n",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized application metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "icon": {
                          "type": "string"
                        },
                        "websiteUrl": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "first_party",
                            "third_party",
                            "internal",
                            "system"
                          ]
                        },
                        "isOfficial": {
                          "type": "boolean"
                        },
                        "isInternal": {
                          "type": "boolean"
                        },
                        "scopes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "developerName": {
                          "type": "string",
                          "description": "Best-effort owner display name (non-official apps only)."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Application not found."
          }
        }
      }
    },
    "/auth/service-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange credentials for a service token",
        "description": "Internal service-to-service authentication endpoint. Exchange ApplicationCredential credentials (apiKey = publicKey, apiSecret = plaintext secret) for a short-lived service JWT (1 hour). Requires a usable credential of type `service` on an active application: either `active`, or `deprecated` but still within its rotation grace window (a credential rotated within the last 7 days keeps minting tokens until its grace `expiresAt`). `revoked` and grace-expired credentials are rejected. The minted JWT carries `appId` (Application `_id`) and `credentialId` (the minting ApplicationCredential `_id`).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "apiKey",
                  "apiSecret"
                ],
                "properties": {
                  "apiKey": {
                    "type": "string",
                    "description": "ApplicationCredential publicKey",
                    "example": "oxy_dk_abc123"
                  },
                  "apiSecret": {
                    "type": "string",
                    "description": "ApplicationCredential plaintext secret"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Short-lived JWT for service-to-service calls"
                    },
                    "expiresIn": {
                      "type": "integer",
                      "description": "Token lifetime in seconds",
                      "example": 3600
                    },
                    "appName": {
                      "type": "string",
                      "description": "Name of the authenticated app"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing apiKey or apiSecret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential is not a service credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/cdn/{id}": {
      "get": {
        "summary": "Resolve a public asset id to its cloud.oxy.so CDN URL (302).",
        "description": "Public CDN origin endpoint (no auth). Redirects to the `cloud.oxy.so` CDN URL for a PUBLIC, CDN-backed asset. Private/unlisted assets, files that are not active, files with no public copy, and unknown ids all return 404 — this path never streams bytes and never exposes a non-public asset.\n",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "variant",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional variant (e.g. `thumb`, `w320`); omitted = original."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the public cloud.oxy.so CDN URL."
          },
          "404": {
            "description": "No public CDN-backed asset for this id."
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get the current authenticated user",
        "description": "Returns the full profile for the bearer-token holder, including privacy settings, identity flags, and connected account types. This is the canonical \"who am I\" endpoint that every Oxy app calls on startup.\n",
        "responses": {
          "200": {
            "description": "Current user profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "64f7c2a1b8e9d3f4a1c2b3d4",
                      "username": "alice",
                      "name": {
                        "first": "Alice",
                        "last": "Example"
                      },
                      "description": "Coffee, code, and open source.",
                      "type": "local",
                      "_count": {
                        "followers": 42,
                        "following": 17
                      },
                      "createdAt": "2024-01-15T12:34:56.789Z",
                      "updatedAt": "2025-05-12T09:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update the current authenticated user",
        "description": "Partial profile update for the authenticated user. Only fields supplied in the body are touched — missing fields keep their existing values. The server enforces uniqueness on `email` and `username`; conflicts return 409. Always invalidates the in-memory user cache so the next read returns the updated record.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{3,30}$",
                    "example": "alice"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "alice@placeholder.example"
                  },
                  "name": {
                    "type": "object",
                    "properties": {
                      "first": {
                        "type": "string",
                        "example": "Alice"
                      },
                      "last": {
                        "type": "string",
                        "example": "Example"
                      }
                    }
                  },
                  "description": {
                    "type": "string",
                    "example": "Updated bio."
                  },
                  "avatar": {
                    "type": "string",
                    "description": "Asset ID or absolute URL.",
                    "example": "64f7c2a1b8e9d3f4a1c2b3d4"
                  }
                }
              },
              "examples": {
                "rename": {
                  "summary": "Update the display name",
                  "value": {
                    "name": {
                      "first": "Alice",
                      "last": "Example"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "409": {
            "description": "Email or username conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Permanently delete the current account",
        "description": "Hard-delete the authenticated user's account. To prove identity at the time of deletion the client signs `delete:{publicKey}:{timestamp}` with the local secp256k1 private key (see `KeyManager.sign` in `@oxyhq/core`). The signature is rejected if it is older than 5 minutes, if the confirmation text does not match the account's username, or if the account has no associated public key.\nSuccessful deletion removes all mailboxes, messages, and S3 attachments owned by the user.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "signature",
                  "timestamp",
                  "confirmText"
                ],
                "properties": {
                  "signature": {
                    "type": "string",
                    "description": "Hex-encoded secp256k1 signature over `delete:{publicKey}:{timestamp}`.",
                    "example": "3045022100abcd...3045022100efgh"
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Unix milliseconds when the signature was produced.",
                    "example": 1714576800000
                  },
                  "confirmText": {
                    "type": "string",
                    "description": "Must equal the account's username.",
                    "example": "alice"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Account deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing field, expired signature, or mismatched confirmText.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid signature.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/privacy/{id}/privacy": {
      "get": {
        "tags": [
          "Privacy"
        ],
        "summary": "Get a user's privacy settings",
        "description": "Return the full privacy settings record for the user. Some fields are only visible to the owner; non-owner callers see a redacted projection.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Privacy settings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "examples": {
                  "default": {
                    "value": {
                      "profileVisibility": "public",
                      "showActivity": true,
                      "allowDirectMessages": "contacts-only",
                      "discoverableByEmail": false,
                      "discoverableByPhone": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "404": {
            "description": "User not found."
          }
        }
      },
      "patch": {
        "tags": [
          "Privacy"
        ],
        "summary": "Update a user's privacy settings (owner only)",
        "description": "Partial update of the user's privacy settings. Only the owner of the account may patch their settings — other callers get 403. Invalidates the in-memory user cache so subsequent reads return fresh values.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "tighten": {
                  "summary": "Make profile private and disable email discovery",
                  "value": {
                    "profileVisibility": "private",
                    "discoverableByEmail": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated privacy settings."
          },
          "400": {
            "description": "Validation failed."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "403": {
            "description": "Caller is not the owner."
          }
        }
      }
    },
    "/privacy/blocked": {
      "get": {
        "tags": [
          "Privacy"
        ],
        "summary": "List blocked users",
        "description": "Return the users the authenticated caller has blocked.",
        "responses": {
          "200": {
            "description": "List of blocked users."
          }
        }
      }
    },
    "/privacy/blocked/{targetId}": {
      "post": {
        "tags": [
          "Privacy"
        ],
        "summary": "Block a user",
        "description": "Block `targetId` for the authenticated caller. Blocking is symmetric — neither account can see the other's posts, profile, or reach the other in DMs.\n",
        "parameters": [
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User blocked."
          }
        }
      },
      "delete": {
        "tags": [
          "Privacy"
        ],
        "summary": "Unblock a user",
        "parameters": [
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User unblocked."
          }
        }
      }
    },
    "/privacy/restricted": {
      "get": {
        "tags": [
          "Privacy"
        ],
        "summary": "List restricted users",
        "description": "Return the users the authenticated caller has restricted.",
        "responses": {
          "200": {
            "description": "List of restricted users."
          }
        }
      }
    },
    "/privacy/restricted/{targetId}": {
      "post": {
        "tags": [
          "Privacy"
        ],
        "summary": "Restrict a user",
        "description": "Restrict `targetId` — they can still see public content but their replies and DMs are silently filtered out of the caller's view.\n",
        "parameters": [
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User restricted."
          }
        }
      },
      "delete": {
        "tags": [
          "Privacy"
        ],
        "summary": "Unrestrict a user",
        "parameters": [
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User unrestricted."
          }
        }
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List the user's devices",
        "description": "Return every device that has at least one active session for the authenticated user. Useful for \"Where am I signed in?\" screens.\n",
        "responses": {
          "200": {
            "description": "List of devices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                },
                "examples": {
                  "twoDevices": {
                    "value": [
                      {
[...]
