{
  "openapi": "3.1.0",
  "info": {
    "title": "Oxy REST API",
    "version": "1.0.0",
    "description": "The Oxy REST API powers every official Oxy app (web, iOS, Android) and is open to third-party integrations via the developer apps program. It covers authentication, accounts, devices, files, billing, notifications, email, federation (ActivityPub), and developer tooling."
  },
  "servers": [
    {
      "url": "https://api.oxy.so",
      "description": "Production"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "User session JWT obtained from /auth/login, /auth/signup, or /auth/verify. Send as `Authorization: Bearer <token>`."
      },
      "serviceTokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Service-to-service JWT obtained from /auth/service-token by exchanging DeveloperApp credentials. For delegated calls also include `X-Oxy-User-Id: <userId>`."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Long-lived developer app API key (for third-party integrations that do not require a delegated user session)."
      },
      "csrfToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CSRF-Token",
        "description": "Required for state-changing requests against CSRF-protected routes. Obtain a token from any GET response (set via the `XSRF-TOKEN` cookie) and echo it on subsequent POST/PUT/PATCH/DELETE calls. Only enforced when cookies are present."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code (SCREAMING_SNAKE_CASE).",
            "example": "VALIDATION_FAILED"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message.",
            "example": "Validation failed"
          },
          "details": {
            "type": "object",
            "description": "Additional error details (optional).",
            "additionalProperties": true
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of records matching the query.",
            "example": 142
          },
          "limit": {
            "type": "integer",
            "description": "Page size used for this response.",
            "example": 20
          },
          "offset": {
            "type": "integer",
            "description": "Zero-based offset applied to this page.",
            "example": 0
          },
          "hasMore": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "User": {
        "type": "object",
        "description": "A public-facing user profile.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable Oxy user ID (MongoDB ObjectId).",
            "example": "64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "username": {
            "type": "string",
            "example": "alice"
          },
          "name": {
            "type": "object",
            "properties": {
              "first": {
                "type": "string",
                "example": "Alice"
              },
              "last": {
                "type": "string",
                "example": "Example"
              }
            }
          },
          "avatar": {
            "type": "string",
            "description": "Avatar asset URL or asset ID.",
            "example": "https://api.oxy.so/assets/64f7.../stream"
          },
          "description": {
            "type": "string",
            "example": "Coffee, code, and open source."
          },
          "type": {
            "type": "string",
            "enum": [
              "local",
              "federated",
              "agent",
              "automated"
            ],
            "description": "Account type. Local users are first-party Oxy accounts; federated users come from ActivityPub instances; agents / automated accounts are programmatic."
          },
          "publicKey": {
            "type": "string",
            "description": "secp256k1 public key in hex."
          },
          "_count": {
            "type": "object",
            "properties": {
              "followers": {
                "type": "integer",
                "example": 42
              },
              "following": {
                "type": "integer",
                "example": 17
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Session": {
        "type": "object",
        "description": "A device-bound user session.",
        "properties": {
          "id": {
            "type": "string",
            "example": "sess_64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "deviceName": {
            "type": "string",
            "example": "iPhone 15 Pro"
          },
          "deviceFingerprint": {
            "type": "string"
          },
          "ip": {
            "type": "string",
            "example": "198.51.100.42"
          },
          "userAgent": {
            "type": "string",
            "example": "OxyApp/1.0 (iOS 18.0)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastActiveAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "isCurrent": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Device": {
        "type": "object",
        "description": "A device that has at least one active session.",
        "properties": {
          "id": {
            "type": "string",
            "example": "dev_64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "name": {
            "type": "string",
            "example": "MacBook Pro 16"
          },
          "platform": {
            "type": "string",
            "example": "macOS"
          },
          "firstSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "sessionCount": {
            "type": "integer",
            "example": 2
          }
        }
      },
      "AuthSuccess": {
        "type": "object",
        "description": "Successful authentication response from /auth/signup, /auth/login, or /auth/verify.",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "sessionId": {
            "type": "string",
            "example": "sess_64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "accessToken": {
            "type": "string",
            "description": "Short-lived JWT for API calls. Typically valid 15 minutes."
          },
          "refreshToken": {
            "type": "string",
            "description": "Long-lived refresh token. Submit to /auth/refresh for a new access token."
          },
          "expiresIn": {
            "type": "integer",
            "description": "Lifetime of `accessToken` in seconds.",
            "example": 900
          }
        }
      }
    }
  },
  "paths": {
    "/assets": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "List the user's files",
        "description": "Paginated list of files owned by the authenticated user, including upload status, deduplication info (`sha256`), variants (thumbnails, resized renditions), and any entity links.\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated file list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/assets/init": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Initialise a file upload",
        "description": "First call in the two-step upload flow. Submit the file's SHA-256, size, and MIME type and receive a `fileId` plus a pre-signed S3 upload URL. If a file with the same SHA-256 already exists for the caller, the server short-circuits and returns the existing record (de-duplication).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sha256",
                  "size",
                  "mime"
                ],
                "properties": {
                  "sha256": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64,
                    "example": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
                  },
                  "size": {
                    "type": "integer",
                    "minimum": 1,
                    "example": 12345
                  },
                  "mime": {
                    "type": "string",
                    "example": "image/png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload initialised.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string"
                    },
                    "uploadUrl": {
                      "type": "string",
                      "description": "Pre-signed S3 PUT URL."
                    },
                    "storageKey": {
                      "type": "string"
                    },
                    "deduplicated": {
                      "type": "boolean",
                      "description": "True if the SHA-256 was already present."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/assets/complete": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Complete a file upload",
        "description": "Second call in the two-step upload flow. Call this after the client has finished PUTing the file to the pre-signed S3 URL returned by `/assets/init`. Commits the metadata, marks the file ready, and enqueues variant generation (thumbnails, image resizes) where applicable.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileId",
                  "originalName",
                  "size",
                  "mime"
                ],
                "properties": {
                  "fileId": {
                    "type": "string"
                  },
                  "originalName": {
                    "type": "string",
                    "example": "profile.png"
                  },
                  "size": {
                    "type": "integer",
                    "example": 12345
                  },
                  "mime": {
                    "type": "string",
                    "example": "image/png"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "private",
                      "public",
                      "unlisted"
                    ],
                    "default": "private"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File committed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assetId": {
                      "type": "string"
                    },
                    "file": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/assets/upload": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Upload a file in a single request",
        "description": "Convenience endpoint that wraps the init/PUT/complete flow into a single multipart upload. The backend computes the SHA-256 itself. Use this for small files where the round-trip cost outweighs the benefit of direct-to-S3 streaming.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "private",
                      "public",
                      "unlisted"
                    ],
                    "default": "private"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Optional JSON-encoded metadata object."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded and committed."
          },
          "400": {
            "description": "Missing file or malformed metadata."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/assets/{id}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get file metadata",
        "description": "Return metadata for the file (size, MIME, SHA-256, variants, links, usage count, status). Only the owner can fetch metadata; signed URLs (`/assets/:id/url` or `/assets/:id/stream`) are the public access path.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File metadata."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "404": {
            "description": "File not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete file with impact summary",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/assets.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/assets/{id}/url": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get a download URL for a file",
        "description": "Return a CDN URL (for public files) or a pre-signed S3 URL (for private files) suitable for `<img src>` or direct download. The URL is valid for `expiresIn` seconds (default 3600).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Variant name (e.g. \"thumb-256\", \"medium\")."
            }
          },
          {
            "name": "expiresIn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 3600,
              "description": "Seconds the signed URL stays valid."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "variant": {
                      "type": "string",
                      "nullable": true
                    },
                    "expiresIn": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "404": {
            "description": "File not found."
          }
        }
      }
    },
    "/assets/{id}/stream": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Stream file bytes (with correct headers)",
        "description": "Public endpoint that streams the raw file bytes back to the caller. Sends correct `Content-Type` and `Cache-Control` headers and falls back to a placeholder if the underlying object is missing (`?fallback=placeholder|placeholderVisible|icon`). For private files the caller must supply a bearer token.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "placeholder",
                "placeholderVisible",
                "icon"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File bytes streamed (or placeholder if fallback requested)."
          },
          "302": {
            "description": "Redirect to pre-signed S3 URL."
          },
          "403": {
            "description": "Access denied."
          },
          "404": {
            "description": "File not found (and no fallback requested)."
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Register a new user",
        "description": "Create a new local Oxy account from an email + username + password triple. On success returns the user record plus an `accessToken`, `refreshToken`, and a `sessionId` for the newly created session. Username is normalised to lowercase and must match the `^[a-zA-Z0-9]{3,30}$` shape.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "username",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "alice@placeholder.example"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{3,30}$",
                    "example": "alice"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "example": "correct horse battery staple"
                  },
                  "name": {
                    "type": "object",
                    "description": "Optional human-readable name for the account.",
                    "properties": {
                      "first": {
                        "type": "string",
                        "example": "Alice"
                      },
                      "last": {
                        "type": "string",
                        "example": "Example"
                      }
                    }
                  },
                  "deviceName": {
                    "type": "string",
                    "description": "Friendly device label. Shown to the user in the devices list.",
                    "example": "MacBook Pro 16"
                  },
                  "deviceFingerprint": {
                    "type": "string",
                    "description": "Stable per-device identifier used for de-duplicating sessions.",
                    "example": "dev-fp-abcdef0123456789"
                  }
                }
              },
              "examples": {
                "standard": {
                  "summary": "Email + username + password",
                  "value": {
                    "email": "alice@placeholder.example",
                    "username": "alice",
                    "password": "correct horse battery staple",
                    "deviceName": "MacBook Pro 16"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created and the first session issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "user": {
                        "id": "64f7c2a1b8e9d3f4a1c2b3d4",
                        "username": "alice",
                        "name": {
                          "first": "Alice",
                          "last": "Example"
                        }
                      },
                      "sessionId": "sess_64f7c2a1b8e9d3f4a1c2b3d4",
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example",
                      "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example",
                      "expiresIn": 900
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed (missing fields, invalid format).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Email or username already taken.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many signups from this IP. Try again later."
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Log in with email or username and password",
        "description": "Exchange a password for a session. Accepts either `identifier` (email-or-username), or one of the dedicated `email` / `username` fields plus `password`. If the account has TOTP-based 2FA enabled the response will return a `loginToken` to be completed via `POST /security/2fa/verify-login` instead of the regular tokens.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Email or username. Preferred over the separate fields.",
                    "example": "alice"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "alice@placeholder.example"
                  },
                  "username": {
                    "type": "string",
                    "example": "alice"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "correct horse battery staple"
                  },
                  "deviceName": {
                    "type": "string",
                    "example": "iPhone 15 Pro"
                  },
                  "deviceFingerprint": {
                    "type": "string",
                    "example": "dev-fp-abcdef0123456789"
                  }
                }
              },
              "examples": {
                "with-identifier": {
                  "summary": "Pass identifier (email-or-username)",
                  "value": {
                    "identifier": "alice",
                    "password": "correct horse battery staple",
                    "deviceName": "iPhone 15 Pro"
                  }
                },
                "with-email": {
                  "summary": "Pass email explicitly",
                  "value": {
                    "email": "alice@placeholder.example",
                    "password": "correct horse battery staple"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login succeeded. Returns either an `AuthSuccess` payload (no 2FA) or `{ twoFactorRequired: true, loginToken }` for accounts with 2FA enabled.\n",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AuthSuccess"
                    },
                    {
                      "type": "object",
                      "required": [
                        "twoFactorRequired",
                        "loginToken"
                      ],
                      "properties": {
                        "twoFactorRequired": {
                          "type": "boolean",
                          "example": true
                        },
                        "loginToken": {
                          "type": "string",
                          "description": "Short-lived token to submit to /security/2fa/verify-login."
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "No 2FA — session issued immediately",
                    "value": {
                      "user": {
                        "id": "64f7c2a1b8e9d3f4a1c2b3d4",
                        "username": "alice"
                      },
                      "sessionId": "sess_64f7c2a1b8e9d3f4a1c2b3d4",
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example",
                      "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example",
                      "expiresIn": 900
                    }
                  },
                  "twoFactor": {
                    "summary": "2FA challenge required",
                    "value": {
                      "twoFactorRequired": true,
                      "loginToken": "lt_2fa_abc123def456"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many failed login attempts. Try again later."
          }
        }
      }
    },
    "/auth/recover/request": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request password recovery",
        "description": "Send a password recovery code to the user's email.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Email or username",
                    "example": "user@example.com"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "username": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recovery code sent (returns success even if account not found to prevent enumeration)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing identifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/recover/verify": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify recovery code",
        "description": "Verify the recovery code sent via email and receive a reset token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Email or username",
                    "example": "user@example.com"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "username": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "description": "Recovery code received via email",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code verified, reset token returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recoveryToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/recover/reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Reset password",
        "description": "Reset the user's password using a valid recovery token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recoveryToken",
                  "password"
                ],
                "properties": {
                  "recoveryToken": {
                    "type": "string",
                    "description": "Token received from /auth/recover/verify"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "description": "New password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired recovery token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Register a new account with a public key",
        "description": "Create a passwordless account bound to a local secp256k1 identity. The client generates a key pair (see `KeyManager` in `@oxyhq/core`), signs `register:{publicKey}:{timestamp}`, and submits the signature. Username and email are optional but recommended for discoverability.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "publicKey",
                  "signature",
                  "timestamp"
                ],
                "properties": {
                  "publicKey": {
                    "type": "string",
                    "description": "secp256k1 public key (hex)."
                  },
                  "signature": {
                    "type": "string",
                    "description": "Hex signature over `register:{publicKey}:{timestamp}`."
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Unix ms when the signature was produced (max 5 minutes old)."
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{3,30}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created and the first session issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature, malformed key, or duplicate username/email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/challenge": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Request a sign-in challenge for a public key",
        "description": "Step 1 of the passwordless public-key login. Returns a short-lived random challenge that the client must sign with the matching private key, then submit to `POST /auth/verify`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "publicKey"
                ],
                "properties": {
                  "publicKey": {
                    "type": "string",
                    "description": "secp256k1 public key (hex)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge issued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge": {
                      "type": "string",
                      "description": "Opaque challenge string to sign."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No account registered for this public key."
          },
          "429": {
            "description": "Rate limit exceeded (10 / minute / IP)."
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Verify a signed challenge and create a session",
        "description": "Step 2 of the passwordless public-key login. Submit the challenge returned by `/auth/challenge` together with its signature; on success a new session is created and the standard `AuthSuccess` payload is returned.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "publicKey",
                  "challenge",
                  "signature",
                  "timestamp"
                ],
                "properties": {
                  "publicKey": {
                    "type": "string"
                  },
                  "challenge": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Hex signature of the challenge."
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Unix ms."
                  },
                  "deviceName": {
                    "type": "string"
                  },
                  "deviceFingerprint": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Signature invalid or challenge expired."
          },
          "429": {
            "description": "Rate limit exceeded (5 / minute / IP)."
          }
        }
      }
    },
    "/auth/validate": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validate authentication status",
        "description": "Check whether the current request carries valid authentication.",
        "responses": {
          "200": {
            "description": "Authentication is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/check-username/{username}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check username availability",
        "description": "Check whether a username is available for registration.",
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 30
            },
            "example": "johndoe"
          }
        ],
        "responses": {
          "200": {
            "description": "Availability check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid username format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/auth/lookup/{username}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Lookup user by username",
        "description": "Lightweight lookup that returns minimal public info for the login flow. Returns whether the user exists along with their color preset, avatar, and display name.",
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3
            },
            "example": "nate"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup result"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/auth/check-email/{email}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check email availability",
        "description": "Check whether an email address is available for registration.",
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "user@example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Availability check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid email format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/auth/session/create": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Open a cross-app auth session (OAuth-like flow)",
        "description": "Begin a cross-app sign-in handshake. A third-party / first-party client generates a one-time `sessionToken` and opens this endpoint; the user is then directed to Oxy Accounts where they authorise the session via `POST /auth/session/authorize/{sessionToken}`. The client polls `GET /auth/session/status/{sessionToken}` until the session is authorised, cancelled, or expires (default 5 minutes).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken",
                  "appId"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string",
                    "description": "Random opaque token the client generates and keeps secret.",
                    "example": "at_random_4e9c2a1b8e9d3f4a1c2b3d4"
                  },
                  "appId": {
                    "type": "string",
                    "description": "App identifier requesting the session.",
                    "example": "accounts.oxy.so"
                  },
                  "expiresAt": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "integer",
                        "description": "Unix ms."
                      }
                    ],
                    "description": "Optional explicit expiry (capped at 5 minutes)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth session pending.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionToken": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "authorized",
                        "cancelled",
                        "expired"
                      ],
                      "example": "pending"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing field or token already in use."
          }
        }
      }
    },
    "/auth/session/status/{sessionToken}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Poll the status of a cross-app auth session",
        "description": "Polled by the client that opened a session via `POST /auth/session/create`. Returns the session's current `status` and, once authorised, the `sessionId` / `userId` that the client should now treat as its own session.\n",
        "parameters": [
          {
            "name": "sessionToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of the auth session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "authorized",
                        "cancelled",
                        "expired"
                      ]
                    },
                    "authorized": {
                      "type": "boolean"
                    },
                    "sessionToken": {
                      "type": "string"
                    },
                    "appId": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sessionId": {
                      "type": "string",
                      "nullable": true
                    },
                    "publicKey": {
                      "type": "string",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "pending": {
                    "value": {
                      "status": "pending",
                      "authorized": false,
                      "sessionToken": "at_random_4e9c2a1b8e9d3f4a1c2b3d4",
                      "appId": "accounts.oxy.so",
                      "expiresAt": "2025-05-25T12:39:56.000Z",
                      "sessionId": null,
                      "publicKey": null,
                      "userId": null
                    }
                  },
                  "authorized": {
                    "value": {
                      "status": "authorized",
                      "authorized": true,
                      "sessionToken": "at_random_4e9c2a1b8e9d3f4a1c2b3d4",
                      "appId": "accounts.oxy.so",
                      "expiresAt": "2025-05-25T12:39:56.000Z",
                      "sessionId": "sess_64f7c2a1b8e9d3f4a1c2b3d4",
                      "publicKey": "02a1b2c3d4e5f6...",
                      "userId": "64f7c2a1b8e9d3f4a1c2b3d4"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Auth session not found."
          }
        }
      }
    },
    "/auth/session/authorize/{sessionToken}": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authorise a pending cross-app auth session",
        "description": "Called by the Oxy Accounts app (or any first-party UI) after the user accepts a cross-app sign-in prompt. Requires the authorising user's access token via the `Authorization: Bearer` header — the authenticated principal is the only valid source of \"who is authorising\". The previous `x-session-id`-based path has been removed (fixes C2).\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sessionToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceName": {
                    "type": "string"
                  },
                  "deviceFingerprint": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session authorised.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "sessionId": {
                      "type": "string"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Session expired, or malformed body."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "404": {
            "description": "Auth session not found or already processed."
          }
        }
      }
    },
    "/auth/oauth/authorize": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Issue an OAuth2 authorization code (after user consent)",
        "description": "Called by the Oxy auth UI after the user clicks \"Allow\" on a third-party app's consent screen. Requires the authenticated user's Bearer access token. Returns a short-lived single-use code that the client app exchanges for tokens via `POST /auth/oauth/token`.\nThe `redirectUri` MUST exactly match one of the DeveloperApp's registered `redirectUris` — otherwise the request is rejected.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientId",
                  "redirectUri"
                ],
                "properties": {
                  "clientId": {
                    "type": "string",
                    "description": "DeveloperApp apiKey"
                  },
                  "redirectUri": {
                    "type": "string",
                    "format": "uri"
                  },
                  "state": {
                    "type": "string",
                    "description": "Opaque CSRF token forwarded back to the client."
                  },
                  "codeChallenge": {
                    "type": "string",
                    "description": "PKCE code challenge (S256). Required for public clients."
                  },
                  "codeChallengeMethod": {
                    "type": "string",
                    "enum": [
                      "S256"
                    ]
                  },
                  "scope": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization code issued."
          },
          "400": {
            "description": "Validation failed."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "403": {
            "description": "Redirect URI is not registered for this client."
          }
        }
      }
    },
    "/auth/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Exchange an OAuth2 authorization code for tokens",
        "description": "Single-use exchange of an authorization code (from `POST /auth/oauth/authorize`) for a bearer access token, refresh token, and session ID. Either `clientSecret` (confidential clients) or `codeVerifier` (public clients with PKCE) is required.\nReplaying an already-used code, sending a code past its 60-second TTL, or mismatching the `redirectUri` returns 401 with no detail about why.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "clientId",
                  "redirectUri"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "clientId": {
                    "type": "string"
                  },
                  "redirectUri": {
                    "type": "string",
                    "format": "uri"
                  },
                  "clientSecret": {
                    "type": "string"
                  },
                  "codeVerifier": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued."
          },
          "400": {
            "description": "Malformed request."
          },
          "401": {
            "description": "Invalid, expired, replayed, or mis-bound code."
          }
        }
      }
    },
    "/auth/service-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange credentials for a service token",
        "description": "Internal service-to-service authentication endpoint. Exchange DeveloperApp credentials (apiKey + apiSecret) for a short-lived service JWT (1 hour). Only available to apps with isInternal flag set.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "apiKey",
                  "apiSecret"
                ],
                "properties": {
                  "apiKey": {
                    "type": "string",
                    "description": "DeveloperApp API key",
                    "example": "oxy_dk_abc123"
                  },
                  "apiSecret": {
                    "type": "string",
                    "description": "DeveloperApp API secret"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Short-lived JWT for service-to-service calls"
                    },
                    "expiresIn": {
                      "type": "integer",
                      "description": "Token lifetime in seconds",
                      "example": 3600
                    },
                    "appName": {
                      "type": "string",
                      "description": "Name of the authenticated app"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing apiKey or apiSecret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "App is not an internal service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/contacts/discover": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Discover which contacts are on Oxy",
        "description": "Privacy-preserving contact-book matching. Clients SHA-256 hash each email and phone number locally (lowercased; phone numbers normalised to E.164 — see `utils/contactHash.ts` in `@oxyhq/core`) and upload only the resulting 64-character hex digests. The server intersects them against precomputed indexes on the `User` collection and returns matched Oxy user IDs.\nPrivacy invariants:\n  - Raw email / phone never traverses this endpoint.\n  - The response contains no PII — only Oxy user IDs and the hash the\n    caller supplied (so the client can map matches back to the local\n    contact that produced them).\n  - The endpoint never writes to the database. Discovery is stateless.\n\nRate limits: 5 requests per minute per authenticated user; up to 200 hashed identifiers per channel (~400 total) per request. Service tokens are explicitly rejected with 403.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hashedEmails": {
                    "type": "array",
                    "maxItems": 200,
                    "items": {
                      "type": "string",
                      "pattern": "^[a-f0-9]{64}$",
                      "description": "SHA-256 hex of `email.toLowerCase().trim()`."
                    }
                  },
                  "hashedPhones": {
                    "type": "array",
                    "maxItems": 200,
                    "items": {
                      "type": "string",
                      "pattern": "^[a-f0-9]{64}$",
                      "description": "SHA-256 hex of the E.164-normalised phone number."
                    }
                  }
                }
              },
              "examples": {
                "addressBook": {
                  "summary": "Mixed email + phone request",
                  "value": {
                    "hashedEmails": [
                      "7c211433f02071597741e6ff5a8ea34789abbf43b9c1abcdef0123456789abcd"
                    ],
                    "hashedPhones": [
                      "9876543210fedcba9876543210fedcba9876543210fedcba9876543210fedcba"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discovery completed. Empty `matches` means no overlap.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "userId",
                          "hashedIdentifier",
                          "matchType"
                        ],
                        "properties": {
                          "userId": {
                            "type": "string",
                            "example": "64f7c2a1b8e9d3f4a1c2b3d4"
                          },
                          "hashedIdentifier": {
                            "type": "string",
                            "example": "7c211433f02071597741e6ff5a8ea34789abbf43b9c1abcdef0123456789abcd"
                          },
                          "matchType": {
                            "type": "string",
                            "enum": [
                              "email",
                              "phone"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "oneMatch": {
                    "value": {
                      "matches": [
                        {
                          "userId": "64f7c2a1b8e9d3f4a1c2b3d4",
                          "hashedIdentifier": "7c211433f02071597741e6ff5a8ea34789abbf43b9c1abcdef0123456789abcd",
                          "matchType": "email"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed (empty payload, malformed hash, oversized batch).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "403": {
            "description": "Service token used — must use a user session token."
          },
          "429": {
            "description": "Rate limit exceeded (5 requests / minute / user)."
          }
        }
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List the user's devices",
        "description": "Return every device that has at least one active session for the authenticated user. Useful for \"Where am I signed in?\" screens.\n",
        "responses": {
          "200": {
            "description": "List of devices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                },
                "examples": {
                  "twoDevices": {
                    "value": [
                      {
                        "id": "dev_64f7c2a1b8e9d3f4a1c2b3d4",
                        "name": "MacBook Pro 16",
                        "platform": "macOS",
                        "firstSeenAt": "2024-01-15T12:34:56.789Z",
                        "lastSeenAt": "2025-05-12T09:00:00.000Z",
                        "sessionCount": 2
                      },
                      {
                        "id": "dev_74f7c2a1b8e9d3f4a1c2b3d5",
                        "name": "iPhone 15 Pro",
                        "platform": "iOS",
                        "firstSeenAt": "2024-02-01T08:00:00.000Z",
                        "lastSeenAt": "2025-05-12T08:55:00.000Z",
                        "sessionCount": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/devices/security": {
      "get": {
        "tags": [
          "Devices",
          "Security"
        ],
        "summary": "Get aggregate security info for the user's devices",
        "description": "Return high-level security signals across the user's devices (count of active sessions, unusual logins, last suspicious activity, etc.). Used to surface a security health summary on the account dashboard.\n",
        "responses": {
          "200": {
            "description": "Security info payload."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/devices/{deviceId}": {
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Remove a device",
        "description": "Revoke every active session attached to the given device. The user on that device will be signed out the next time their client tries to refresh its access token.\n",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "dev_64f7c2a1b8e9d3f4a1c2b3d4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device removed."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "404": {
            "description": "Device not found."
          }
        }
      }
    },
    "/fedcm/nonce": {
      "post": {
        "tags": [
          "Federation"
        ],
        "security": [],
        "summary": "Mint a single-use FedCM nonce",
        "description": "The auth UI requests a server-issued nonce just before invoking `navigator.credentials.get({ identity: { nonce } })`. The IdP signs the nonce into the issued ID token; `/fedcm/exchange` will only accept tokens whose nonce was minted here and has not yet been used. Bound to the requesting origin so a nonce minted for one site cannot be exchanged from another.\n",
        "responses": {
          "200": {
            "description": "Nonce issued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nonce": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid Origin header."
          }
        }
      }
    },
    "/fedcm/exchange": {
      "post": {
        "tags": [
          "Federation"
        ],
        "security": [],
        "summary": "Exchange a FedCM ID token for an Oxy session",
        "description": "Implements the FedCM (Federated Credential Management) token exchange. The relying party passes the ID token it just received from the browser's FedCM API and gets back an Oxy `AuthSuccess` payload (user + sessionId + access/refresh tokens). This is the cookie-less, cross-origin SSO entry point.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "idToken"
                ],
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "FedCM ID token from the browser."
                  },
                  "clientId": {
                    "type": "string",
                    "description": "Calling app's registered client ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Oxy session issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Invalid token format."
          },
          "401": {
            "description": "ID token verification failed."
          },
          "403": {
            "description": "Origin not on the approved-clients list."
          }
        }
      }
    },
    "/fedcm/clients/approved": {
      "get": {
        "tags": [
          "Federation"
        ],
        "security": [],
        "summary": "List origins approved for FedCM token exchange",
        "description": "Public list of `origin` strings that may call `/fedcm/exchange`. Browsers query this list when displaying the FedCM account picker.\n",
        "responses": {
          "200": {
            "description": "Approved client origins.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "origins": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Federation"
        ],
        "security": [
          {
            "serviceTokenAuth": []
          }
        ],
        "summary": "Approve an origin for FedCM (internal services only)",
        "description": "Add a new origin to the FedCM approved-clients list. Requires a service token — third-party developers cannot self-approve.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "origin"
                ],
                "properties": {
                  "origin": {
                    "type": "string",
                    "example": "https://example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Origin added."
          },
          "401": {
            "description": "Service token missing or invalid."
          },
          "403": {
            "description": "Token is not a service token."
          }
        }
      }
    },
    "/fedcm/clients/approved/{origin}": {
      "delete": {
        "tags": [
          "Federation"
        ],
        "security": [
          {
            "serviceTokenAuth": []
          }
        ],
        "summary": "Remove an approved origin (internal services only)",
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-encoded origin to remove."
          }
        ],
        "responses": {
          "200": {
            "description": "Origin removed."
          },
          "401": {
            "description": "Service token missing or invalid."
          },
          "403": {
            "description": "Token is not a service token."
          },
          "404": {
            "description": "Origin not on the list."
          }
        }
      }
    },
    "/privacy/{id}/privacy": {
      "get": {
        "tags": [
          "Privacy"
        ],
        "summary": "Get a user's privacy settings",
        "description": "Return the full privacy settings record for the user. Some fields are only visible to the owner; non-owner callers see a redacted projection.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Privacy settings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "examples": {
                  "default": {
                    "value": {
                      "profileVisibility": "public",
                      "showActivity": true,
                      "allowDirectMessages": "contacts-only",
                      "discoverableByEmail": false,
                      "discoverableByPhone": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "404": {
            "description": "User not found."
          }
        }
      },
      "patch": {
        "tags": [
          "Privacy"
        ],
        "summary": "Update a user's privacy settings (owner only)",
        "description": "Partial update of the user's privacy settings. Only the owner of the account may patch their settings — other callers get 403. Invalidates the in-memory user cache so subsequent reads return fresh values.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "tighten": {
                  "summary": "Make profile private and disable email discovery",
                  "value": {
                    "profileVisibility": "private",
                    "discoverableByEmail": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated privacy settings."
          },
          "400": {
            "description": "Validation failed."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          },
          "403": {
            "description": "Caller is not the owner."
          }
        }
      }
    },
    "/privacy/blocked": {
      "get": {
        "tags": [
          "Privacy"
        ],
        "summary": "List blocked users",
        "description": "Return the users the authenticated caller has blocked.",
        "responses": {
          "200": {
            "description": "List of blocked users."
          }
        }
      }
    },
    "/privacy/blocked/{targetId}": {
      "post": {
        "tags": [
          "Privacy"
        ],
        "summary": "Block a user",
        "description": "Block `targetId` for the authenticated caller. Blocking is symmetric — neither account can see the other's posts, profile, or reach the other in DMs.\n",
        "parameters": [
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User blocked."
          }
        }
      },
      "delete": {
        "tags": [
          "Privacy"
        ],
        "summary": "Unblock a user",
        "parameters": [
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User unblocked."
          }
        }
      }
    },
    "/privacy/restricted": {
      "get": {
        "tags": [
          "Privacy"
        ],
        "summary": "List restricted users",
        "description": "Return the users the authenticated caller has restricted.",
        "responses": {
          "200": {
            "description": "List of restricted users."
          }
        }
      }
    },
    "/privacy/restricted/{targetId}": {
      "post": {
        "tags": [
          "Privacy"
        ],
        "summary": "Restrict a user",
        "description": "Restrict `targetId` — they can still see public content but their replies and DMs are silently filtered out of the caller's view.\n",
        "parameters": [
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User restricted."
          }
        }
      },
      "delete": {
        "tags": [
          "Privacy"
        ],
        "summary": "Unrestrict a user",
        "parameters": [
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User unrestricted."
          }
        }
      }
    },
    "/profiles/username/{username}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "security": [],
        "summary": "Public profile lookup by username",
        "description": "Resolve a username to a public profile, with follower/following counts. Federated handles (`user@domain`) are resolved on the fly via WebFinger + ActivityPub; if the actor has never been seen the endpoint will upsert it as a federated user before returning.\nThis endpoint is unauthenticated and may be cached by edge.\n",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Local username (alphanumeric, 3-30 chars) or fediverse handle.",
              "examples": {
                "local": "alice",
                "federated": "alice@mastodon.social"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "local": {
                    "value": {
                      "id": "64f7c2a1b8e9d3f4a1c2b3d4",
                      "username": "alice",
                      "name": {
                        "first": "Alice",
                        "last": "Example"
                      },
                      "description": "Coffee, code, and open source.",
                      "type": "local",
                      "_count": {
                        "followers": 42,
                        "following": 17
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed username.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found (and federation lookup failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/security/activity": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "Account activity log with pagination",
        "description": "Return security-relevant events for the authenticated user — sign-in attempts, password changes, 2FA toggles, private-key exports, backup creations, suspicious activity flags. Used to power the activity history screen.\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque pagination cursor returned by the previous page."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "example": "SIGN_IN"
                          },
                          "deviceName": {
                            "type": "string"
                          },
                          "ip": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/security/activity/private-key-exported": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Log a \"private key exported\" event",
        "description": "Record that the local identity wallet exported its private key for backup. The event surfaces in the activity log and is used to remind the user to safely store the key.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceId": {
                    "type": "string",
                    "description": "Device that performed the export. Optional."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event recorded."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/security/activity/backup-created": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Log a \"backup created\" event",
        "description": "Record that the local identity wallet wrote a backup of its keys.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event recorded."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/security/2fa/status": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "Get 2FA status for the current user",
        "description": "Return whether TOTP-based two-factor authentication is enabled, when it was set up, and how many backup codes remain.\n",
        "responses": {
          "200": {
            "description": "2FA status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "enabledAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "backupCodesRemaining": {
                      "type": "integer",
                      "example": 8
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/security/2fa/setup": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Begin 2FA setup",
        "description": "Generate a TOTP secret and otpauth URI for the user to register in their authenticator app. The secret is provisional until confirmed via `POST /security/2fa/enable` with a valid TOTP code.\n",
        "responses": {
          "200": {
            "description": "TOTP secret + provisioning URI.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "secret": {
                      "type": "string",
                      "description": "Base32 TOTP secret."
                    },
                    "otpauthUrl": {
                      "type": "string",
                      "description": "otpauth:// URL for QR rendering."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/security/2fa/enable": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Confirm 2FA setup and turn it on",
        "description": "Submit a fresh TOTP code from the user's authenticator app to confirm the provisional secret. On success returns 10 backup codes (single-use, downloadable).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "6-digit TOTP code.",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "2FA enabled. Returns 10 single-use backup codes."
          },
          "400": {
            "description": "TOTP code invalid."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/security/2fa/disable": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Disable 2FA on the current account",
        "description": "Turn 2FA off. Requires the account password and, if currently enabled, a fresh TOTP code or backup code.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "format": "password"
                  },
                  "token": {
                    "type": "string",
                    "description": "TOTP or backup code."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "2FA disabled."
          },
          "400": {
            "description": "Wrong password or invalid TOTP."
          },
          "401": {
            "description": "Missing or invalid bearer token."
          }
        }
      }
    },
    "/security/2fa/verify": {
      "post": {
        "tags": [
          "Security"
        ],
        "security": [],
        "summary": "Verify a TOTP code (no auth)",
        "description": "Used to validate a TOTP code outside the login flow — for example, to allow a sensitive action to proceed. Accepts either a fresh TOTP code or a backup code.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Email or username of the user being verified.",
                    "example": "alice"
                  },
                  "token": {
                    "type": "string",
                    "example": "123456"
                  },
                  "backupCode": {
                    "type": "string",
                    "example": "A1B2-C3D4-E5F6"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code valid."
          },
          "400": {
            "description": "Code invalid or expired."
          }
        }
      }
    },
    "/security/2fa/verify-login": {
      "post": {
        "tags": [
          "Security"
        ],
        "security": [],
        "summary": "Complete a 2FA login challenge",
        "description": "Final step of the password + 2FA login flow. Submit the `loginToken` returned by `/auth/login` along with a TOTP or backup code. On success returns the standard `AuthSuccess` payload.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "loginToken"
                ],
                "properties": {
                  "loginToken": {
                    "type": "string",
                    "example": "lt_2fa_abc123def456"
                  },
                  "token": {
                    "type": "string",
                    "example": "123456"
                  },
                  "backupCode": {
                    "type": "string"
                  },
                  "deviceName": {
                    "type": "string",
                    "example": "iPhone 15 Pro"
                  },
                  "deviceFingerprint": {
                    "type": "string",
                    "example": "dev-fp-abcdef0123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSuccess"
                }
              }
            }
          },
          "400": {
[...]
